.pageHeader {
  display: flex;
  margin: auto;
  place-content: center;
}

.paperRoot {
  width: 95%;
  overflow-x: auto;
  display: flex;
  margin: auto;
}

.table {
  min-width: 650px;
}

.tableActions {
  display: flex !important;
  align-items: flex-start !important;
}

.tableHeader {
  background-color: #61dafb;
}

.serverData {
  display: flex;
  margin: auto;
  width: 95%;
  overflow-x: initial;

  .serverMetadata {
    margin-right: 40px;
    flex-grow: 1.5;
    justify-self: center;

  }

  .registeredServers {
    flex-grow: 2;
  }

}