.floatingButton {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.fabStyles {
  background-color: #3f51b5;
  color: white;
}

.tooltip {
  font-size: 16px !important;
}

.iconStyle {
  font-size: 20px;
  color: white;
}