.pageHeader {
  display: flex;
  margin: auto;
  place-content: center;
}

.paperRoot {
  width: 95%;
  overflow-x: auto;
  display: flex;
  margin: auto;
}

.table {
  min-width: 650px;
}

.tableHeader {
}