.viewWrapper {
  display: flex;
  flex-direction: column;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
  overflow-x: initial;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.14901960784313725);
  padding: 18px 20px;
  flex-wrap: wrap;
}

%card {
  max-width: min-content;
  margin: 0 20px 20px 0;

}

.tableCard {
  @extend %card;
  max-height: 400px !important;
  overflow-y: scroll !important;
}

.coresCard {
  .plainCard {
    padding-bottom: 50px !important;
  }
}

.plainCard {
  @extend %card;
  min-width: 300px;
  max-width: 300px;
  max-height: 180px;
}

.osCard {
  @extend %card;
  min-width: 300px;
}

.cardContentRoot {
  padding: 0 !important;
}

.cpuCard {
}

.ramCard {
  padding: 0 0 10px 40px !important;
}

.graphCard {
  @extend %card;
}

.pieCard {
  max-height: 300px;
}

.pingsSection {

}

.pingSuccess {
  @extend .plainCard;
  background-color: darkgreen !important;
  color: whitesmoke !important;
}

.pingFailure {
  @extend .plainCard;
  max-width: 330px;
  background-color: rgb(220, 57, 18) !important;
  color: whitesmoke !important;
}