.modalStyle {
  display: flex;
  margin: auto;
  flex-direction: column;
  height: 400px;
  width: fit-content;
  padding: 30px;
  background-color: whitesmoke;
}

.modalSubmitButton {
  margin-top: 80px !important;
}