.headersTitle {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.infoCard {
  padding: 22px !important;
}

.cardsManuals {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}

.infoCardActions {
  justify-content: space-between;
}

.gitlabLink {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.gitlabIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}